In [5]:
import pandas as pd
import sys

sys.path.append("../code/")
from common import create_matrix_single_region, APPLIANCES_ORDER

In [40]:
contribution = {}
for region in ['SanDiego', 'Austin', 'Boulder']:

    temp = {}
    r_df = create_matrix_single_region(region, 2014)[0]
    for appliance in APPLIANCES_ORDER[1:]:
        df_app = r_df[['{}_{}'.format(appliance, month) for month in range(1, 13)]]
        df_agg = r_df[['{}_{}'.format("aggregate", month) for month in range(1, 13)]]
        df_app.columns = df_agg.columns
        temp[appliance] = (df_app.div(df_agg)).mean().mean()
    error_weights = pd.Series(temp).to_dict()
    contribution[region] = error_weights

In [41]:
contribution

{'Austin': {'dw': 0.012319551319019947,
  'fridge': 0.090344146891213839,
  'hvac': 0.20323856343120128,
  'mw': 0.013223228424632354,
  'oven': 0.018147104643032555,
  'wm': 0.0061775780345535809},
 'Boulder': {'dw': 0.016238452430123097,
  'fridge': 0.12957241944273667,
  'hvac': 0.0751167484850261,
  'mw': 0.021824532914112984,
  'oven': 0.028995969570346034,
  'wm': 0.012536790978333469},
 'SanDiego': {'dw': 0.016351260467306238,
  'fridge': 0.14594851944128154,
  'hvac': 0.12236811705161471,
  'mw': 0.023762994663075035,
  'oven': 0.026485593044440703,
  'wm': 0.01099002897219121}}

In [42]:
appliance_name_mapping = {'hvac':'HVAC',
                         'fridge':'Fridge',
                         'wm':'Washing\n machine',
                         'dw':'Dish \nWasher',
                         'oven':'Oven',
                         'mw':'Micro-\nwave'}

In [43]:
df = pd.DataFrame(contribution).T[APPLIANCES_ORDER[1:]]

In [44]:
df.columns = [appliance_name_mapping[x] for x in df.columns]

In [45]:
df

,HVAC,Fridge,Micro- wave,Dish Washer,Washing machine,Oven
Austin,0.203239,0.090344,0.013223,0.012320,0.006178,0.018147
Boulder,0.075117,0.129572,0.021825,0.016238,0.012537,0.028996
SanDiego,0.122368,0.145949,0.023763,0.016351,0.010990,0.026486

In [46]:
regions = ['Austin','SanDiego']

In [47]:
df = df.loc[regions]

In [48]:
df

,HVAC,Fridge,Micro- wave,Dish Washer,Washing machine,Oven
Austin,0.203239,0.090344,0.013223,0.012320,0.006178,0.018147
SanDiego,0.122368,0.145949,0.023763,0.016351,0.010990,0.026486

In [49]:
df.to_latex('contribution.txt', float_format="%0.2f")

In [50]:
!cat contribution.txt

\begin{tabular}{lrrrrrr}
\toprule
{} &  HVAC &  Fridge &  Micro-\textbackslashnwave &  Dish \textbackslashnWasher &  Washing\textbackslashn machine &  Oven \\
\midrule
Austin   &  0.20 &    0.09 &          0.01 &           0.01 &               0.01 &  0.02 \\
SanDiego &  0.12 &    0.15 &          0.02 &           0.02 &               0.01 &  0.03 \\
\bottomrule
\end{tabular}