In [1]:
import pandas as pd
import sys

sys.path.append("../code/")

In [25]:
appliance_name_mapping = {'hvac':'HVAC',
                         'fridge':'Fridge',
                         'wm':'Washing\n machine',
                         'dw':'Dish \nWasher',
                         'oven':'Oven',
                         'mw':'Micro-\nwave'}

In [26]:
from common import contri, APPLIANCES_ORDER

In [27]:
df = pd.DataFrame(contri).T[APPLIANCES_ORDER[1:]]

In [28]:
df.columns = [appliance_name_mapping[x] for x in df.columns]

In [29]:
df

,HVAC,Fridge,Micro- wave,Dish Washer,Washing machine,Oven
Austin,0.757683,0.168670,0.021209,0.018721,0.009893,0.023824
Boulder,0.313963,0.439994,0.067946,0.053257,0.036816,0.088023
SanDiego,0.554866,0.313919,0.042220,0.029733,0.021196,0.038067

In [30]:
regions = ['Austin','SanDiego','Boulder']

In [31]:
df = df.loc[regions]

In [32]:
df

,HVAC,Fridge,Micro- wave,Dish Washer,Washing machine,Oven
Austin,0.757683,0.168670,0.021209,0.018721,0.009893,0.023824
SanDiego,0.554866,0.313919,0.042220,0.029733,0.021196,0.038067
Boulder,0.313963,0.439994,0.067946,0.053257,0.036816,0.088023

In [33]:
df.to_latex('contribution.txt', float_format="%0.2f")

In [34]:
!cat contribution.txt

\begin{tabular}{lrrrrrr}
\toprule
{} &  HVAC &  Fridge &  Micro-\textbackslashnwave &  Dish \textbackslashnWasher &  Washing\textbackslashn machine &  Oven \\
\midrule
Austin   &  0.76 &    0.17 &          0.02 &           0.02 &               0.01 &  0.02 \\
SanDiego &  0.55 &    0.31 &          0.04 &           0.03 &               0.02 &  0.04 \\
Boulder  &  0.31 &    0.44 &          0.07 &           0.05 &               0.04 &  0.09 \\
\bottomrule
\end{tabular}